beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
dnspython==1.16.0
geojson==2.5.0
gunicorn==20.0.4
idna==2.9
kiwisolver==1.2.0
lxml==4.5.0
matplotlib==3.2.1
mysql-connector-python==8.0.19
numpy==1.18.4
OSMPythonTools==0.2.8
pandas==1.0.3
protobuf==3.6.1
pymongo==3.10.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
six==1.14.0
soupsieve==2.0
ujson==2.0.3
urllib3==1.25.8
xarray==0.15.1
