html,
body {
  height: 100%;
  padding: 20;
}

.heading { 
	font-size: 1.1em;
	text-align: left;
	color: #FFFFFF; }
.marge20{
	margin:20px;
	padding:10px;
}
.marge{
	margin-top:20px;
}

.marge10{
	margin-top:20px;
	margin-right:10px
}
